.lostCard {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  background-color: #e7f7ff;
}

.container-outer {
  /* border: 2px solid red; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.container-inner {
  /* border: 5px solid peru; */
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.585) 0px 7px 29px 0px;
  background-color: white;
  height: 80%;
  border-radius: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeIcon {
  /* border: 2px solid black; */
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.heading {
  position: relative;
  font-size: 1.9rem;
  font-weight: bolder;
  margin: 12px 0px 12px 0px;
  color: brown;
  letter-spacing: 1px;
}

.uploadImg {
  /* border: 5px solid purple; */
  display: grid;
  place-items: center;
  width: 50%;
  height: 100%;
}

.divider {
  background: rgb(179, 143, 109);
  width: 0.5px;
  height: 100%;
}

.details {
  /* border: 2px solid black; */
  display: grid;
  place-items: center;
  padding: 0 20px;
  width: 62%;
  height: 100%;
}

.details > div {
  /* border: 2px solid red; */
  width: 100%;
}

form {
  /* border: 2px solid seagreen; */
  width: 100%;
  height: 100%;
  /* margin: 15px 0 0 0; */
}

.inputField {
  margin-bottom: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
  appearance: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  background-color: #f4f0f0;
  text-shadow: 1px 1px 0 #fff;
}

.inputField:hover {
  border-radius: 15px;
}

.inputField > svg {
  font-size: 20px;
  padding-left: 5px;
}

.inputField > input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 20px;
}

.btnGraphic {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background: transparent;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
}

.btnOuter {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 25px;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 9px;
  background: linear-gradient(90deg, rgb(209, 152, 72), rgb(130, 64, 9));
}

.bg-grad {
  border-radius: 9px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(209, 152, 72), rgb(130, 64, 9));
}

.submitBtn {
  /* border: 2px solid blue; */
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.noAppear {
  appearance: none;
}

.select {
  width: 100%;
  outline: none;
  background: transparent;
  padding: 8px;
  text-indent: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: larger;
  color: rgb(98, 97, 97);
}

input::file-selector-button {
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  margin-right: 10%;
}

input::file-selector-button:hover {
  color: rgb(242, 240, 237);
}

@media only screen and (max-width: 760px) {
  .heading {
    font-size: 1.8rem;
  }

  .titleInfo {
    /* border: 2px solid blue; */
    font-size: 0.73rem;
    padding-bottom: 15px;
  }

  .container-inner {
    flex-direction: column;
    height: min-content;
    margin-top: 100px;
    padding-top: 60px;
    width: 90vw;
  }

  .fileInput {
    /* border: 2px solid red; */
    width: 150%;
    padding: 6px;
  }

  .btnOuter{
    padding: 0px 15px 0px 15px;
  }

  .uploadImgInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 971px) {
  .container-inner {
    flex-direction: column;
    height: min-content;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-outer {
    height: min-content;
  }

  .details {
    width: 80%;
  }
}
