@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.homeScreen > svg {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) backwards;
}

.homeScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f7ff;
  overflow: hidden;
}

@keyframes visibility {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.homeContainer {
  box-shadow: 5px 9px 24px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.673);
  height: 70%;
  border-radius: 20px;
  width: 60%;
  display: flex;
  z-index: 3;
  display: flex;
  animation: visibility 1000ms forwards;
  align-items: center;
  justify-content: center;
}

.homeContainer_right,
.homeContainer_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer_right {
  align-items: first baseline;
  height: 100%;
}

.homeContainer_right > img:nth-child(2) {
  margin: 0 0 25px 0;
}

.homeContainer_left {
  border-right: 1px solid grey;
}

.homeContainer_right > img {
  margin-left: 20px;
}

.div-button {
  background: linear-gradient(90.04deg, #019aff, rgb(21, 3, 65) 99.96%);
  padding: 7px 30px 7px 30px;
  padding: 01% 5%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: transparent;
  width: 32%;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  align-items: center;
  min-width: 150px;
}

.button {
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 5px;
  font-size: 89%;
  text-align: left;
  cursor: pointer;
}

.arrow {
  position: relative;
  top: 7px;
}

@media only screen and (max-width: 850px) {
  .homeContainer {
    flex-direction: column;
    min-width: 19rem;
    min-height: 250px;
  }

  .homeContainer_left {
    display: none;
  }
  
  .homeScreen > svg
  {
    /* display: none; */
  }
  .homeContainer_right > img:nth-child(2) {
    margin: 0 0 25px 0;
    min-width: 110%;
  }

  .homeContainer_right {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .div-button {
    min-width: 150px;
  }
}
