.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: #959da533 0px 8px 24px;
}

.navBar > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 55px;
  font-size: 13px;
}

.title {
  font-weight: bold;
  font-size: 1.7rem;
  color: brown;
  text-decoration: none;
}

.navItem1, .navItem2  {
  /* border: 2px solid blue; */
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.navItem2{
  padding-right: 35px;
}

.navItem1:hover {
  color: brown;
  scale: 1.1;
  transition: 200ms ease-in-out;
}


@media only screen and (max-width: 760px) {

 .navBar
 {
  /* border: 2px solid red; */
  font-size:16px;
  flex-direction: column;
 }
 
 .navBar > div 
 {
  width: 100vw;
   justify-content: center;
   margin-top: 8px;
   padding-top: 20px;
   /* border-top: 1px solid grey; */
 }

 .navItem2{
   /* border: 2px solid blue; */
   padding-right: 0px;
   padding-left: 45px;
}

.navBar > div:nth-child(2) {
  gap: 30px;
}
}