@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-size: large;
  font-weight: 400;
}
